/* start variubils  */
:root {
  --main-color: #19c8fa;
  --secndery-color: #a2a2a2;
  --transpernt-color: rgb(15 116 143 /70%);
  --section-padding: 100px;
  --p-color: #777;
}
/* end variubils  */
/* start global roules  */
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
}
/* end  global roules  */
/* start Component */
.section-heading {
  text-align: center;
}
.section-heading h2 {
  font-weight: normal;
  font-size: 40px;
  position: relative;
  margin-bottom: 70px;
}
.section-heading h2::before {
  content: "";
  width: 120px;
  height: 2px;
  background-color: #333;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.section-heading h2::after {
  content: "";
  background-color: white;
  position: absolute;
  background-color: #fff;
  width: 14px;
  height: 14px;
  border: 2px solid #333;
  border-radius: 50%;
  bottom: -37px;
  transform: translateX(-50%);
  left: 50%;
}
.section-heading p {
  color: var(--p-color);
  max-width: 550px;
  line-height: 2;
  margin: 0 auto 100px auto;
}
/* end Component */
/* start header */
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}
header .container::after {
  content: "";
  position: absolute;
  width: calc(100% - 30px);
  height: 1px;
  bottom: 2px;
  background-color: var(--secndery-color);
  z-index: -1;
}
header .container .logo img {
  height: 40px;
}
header .container nav {
  display: flex;
  align-items: center;
}
header .container nav .toggle-menu {
  color: white;
  font-size: 23px;
  padding: 15px;
}
@media (min-width: 768px) {
  header .container nav .toggle-menu {
    display: none;
  }
}
header .container nav ul {
  display: flex;
  flex-flow: row;
}
@media (max-width: 767px) {
  header .container nav ul {
    display: none;
  }
  header .container nav .test:hover ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgb(0 0 0 / 50%);
  }
}
header .container nav ul li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 39px 39px 35px 0;
}
header .container nav ul li a:hover,
.home {
  color: var(--main-color) !important;
  border-bottom: 1.5px solid var(--main-color);
}
@media (max-width: 767px) {
  header .container nav ul li a {
    padding: 15px 20px;
  }
}
header .container nav .form {
  width: 40px;
  height: 30px;
  position: relative;
  border-left: 1.5px solid var(--secndery-color);
}
header .container nav .form i {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translatey(-50%);
  color: white;
  font-size: 22px;
}
/* end header */
/* start landing */
.landing {
  background-image: url(../imgs/landing.jpg);
  background-size: cover;
  min-height: 100vh;
  position: relative;
}
.landing .layer {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
  position: absolute;
}
.landing .text {
  position: absolute;
  left: 0;
  top: 55%;
  transform: translateY(-50%);
  max-width: 60%;
  max-height: 60%;
  background-color: var(--transpernt-color);
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 60px;
  color: white;
  overflow: hidden;
}

.landing .text .contant {
  width: 500px;
}
.landing .text .contant h2 {
  line-height: 1.4;
  font-size: 29px;
  font-weight: normal;
  margin-bottom: 20px;
}
.landing .text .contant p {
  line-height: 2;
}
.landing .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 25px;
  padding: 30px;
}
.change-background:nth-child(3) {
  left: 0;
}
.change-background:nth-child(4) {
  right: 0;
}
@media (max-width: 767px) {
  .landing .text {
    top: 50%;
    max-width: 100%;
    width: 100%;
  }
  .landing .change-background {
    display: none;
  }
}
.landing .pounc {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  display: flex;
}
.landing .pounc li {
  width: 15px;
  height: 15px;
  border: 1px solid var(--main-color);
  border-radius: 50%;
  margin: 5px;
}
.active {
  background-color: var(--main-color);
}
/*end landing */
/* start services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.services .container .contant {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  row-gap: 50px;
  column-gap: 75px;
}
.services .container .contant .serv-box {
  display: flex;
}
.services .container .contant .serv-box i {
  padding-right: 60px;
}
@media (max-width: 767px) {
  .services .container .contant {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .services .container .contant .serv-box {
    flex-direction: column;
  }
  .services .container .contant .serv-box i {
    padding: 0 0 20px 0;
  }
}
.services .container .contant .serv-box .text h3 {
  color: var(--main-color);
}
.services .container .contant .serv-box .text p {
  padding-top: 20px;
  color: var(--p-color);
  line-height: 2;
}
/* end services */
/* start design */
.design {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  height: 620px;
  background-image: url(../imgs/design-features.jpg);
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  overflow: hidden;
}
.design::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgb(0 0 0 / 40%);
}
.design .img,
.design .text {
  z-index: 2;
  position: relative;
  flex: 1;
}
.design .img {
  text-align: center;
}
@media (max-width: 767px) {
  .design .img {
    display: none;
  }
}
.design .img img {
  position: relative;
  top: 150px;
}
.design .text {
  color: white;
  font-weight: normal;
  background-color: var(--transpernt-color);
  padding: 50px;
}
.design .text h3 {
  margin-bottom: 15px;
  font-size: 25px;
}
.design .text ul {
  padding: 20px 0 20px 0;
}
.design .text ul li {
  padding: 15px 0;
}
.design .text ul li::before {
  content: "\f108";
  font-family: "Font Awesome 6 Free";
  font-weight: 700;
  margin-right: 20px;
  position: relative;
  top: 1px;
}
/* end design */
/* start porto */
.porto {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.porto .container .shuffle {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 60px;
}
.porto .container .shuffle li {
  padding: 10px;
  font-size: 17px;
  font-weight: normal;
  background-color: #eee;
  border-radius: 10%;
  margin-right: 2px;
  cursor: pointer;
  transition: 0.2s;
}
.porto .container .shuffle li:hover {
  transform: translateY(-10px) scale(1.08);
}

.porto .container .shuffle li:nth-child(3) {
  background-color: var(--main-color);
  color: white;
  /* transform: translateY(-4px); */
}
.gallery {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
  row-gap: 1px;
}
@media (max-width: 767px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
}
@media (max-width: 480px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}
.gallery .pic {
  position: relative;
  overflow: hidden;
}
.gallery .pic img {
  width: 100%;
  transition: 0.3s;
}
.gallery .pic:hover img {
  zoom: 80%;
  transform: rotate(5deg) scale(1.2);
}
.gallery .slide {
  width: 100%;
  position: absolute;
  bottom: -100%;
  left: 0;
  background-color: white;
  padding: 15px;
  transition: 0.3s;
}
.gallery .pic:hover .slide {
  bottom: 0;
}
.gallery .slide span {
  display: block;
}
.gallery .slide span:first-child {
  color: black;
  font-size: 18px;
  font-weight: normal;
}
.gallery .slide span:last-child {
  color: var(--main-color);
}
.porto a {
  text-decoration: none;
  display: inline-block;
  margin-left: 50%;
  margin-top: 30px;
  transform: translateX(-50%);
  color: white;
  background-color: var(--main-color);
  padding: 10px 20px;
  font-size: 25px;
  border-radius: 10%;
}
/* end porto */
/* start video */
.video {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
}
.video::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 50%);
}
.video video {
  width: 100%;
}
.video .text {
  padding: 50px;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateX(-50%);
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background-color: var(--transpernt-color);
  color: white;
  z-index: 2;
}
.video .text h3 {
  font-weight: normal;
}
.video .text p {
  padding-top: 25px;
  padding-bottom: 20px;
}
.video .text button {
  background-color: black;
  color: white;
  border: none;
  padding: 8px;
}
/* end video */
/* start about */
.about {
  padding-top: var(--section-padding);
  text-align: center;
  overflow: hidden;
  /* height: 620px; */
}
.about .container img {
  max-width: 100%;
  position: relative;
  bottom: -120px;
  margin-top: -120px;
}
@media (max-width: 767px) {
  .about .container img {
    max-width: 100%;
    position: relative;
    bottom: -60px;
    margin-top: -60px;
  }
}
/* end about */
/* start status */
.status {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../imgs/status.jpg);
  background-size: cover;
  position: relative;
}
.status::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
}
.status .container {
  display: flex;
  justify-content: space-around;
  position: relative;
}
.status .container .box {
  flex-basis: 25%;
  background-color: var(--transpernt-color);
  text-align: center;
  color: white;
  padding: 40px;
}
@media (max-width: 992px) {
  .status .container {
    flex-wrap: wrap;
  }
  .status .container .box {
    flex-basis: 50%;
  }
}
@media (max-width: 768px) {
  .status .container {
    flex-wrap: wrap;
  }
  .status .container .box {
    flex-basis: 100%;
  }
}
.status .container .box i {
  color: white;
  background-color: black;
  font-size: 22px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.status .container .box h3 {
  font-size: 55px;
  padding: 28px;
}
/* end status */
/* start skills */
.skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.skills .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.skills .container > div {
  flex-basis: 45%;
}
@media (max-width: 767px) {
  .skills .container > div {
    flex-basis: 100%;
  }
}
/*  skills =>  lapel  */
.skills .lapel {
  text-align: center;
}
.skills .lapel h3 {
  font-weight: normal;
  margin-bottom: 20px;
}
.skills .lapel p {
  line-height: 2;
  color: var(--p-color);
}
/*   skills => TESTIMONIALS  */
.skills .testimo {
  display: flex;
  flex-wrap: wrap;
}
.skills .testimo > div {
  width: 100%;
}
.skills .testimo .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skills .testimo .box img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 30px 40px 0 0;
}
.skills .testimo .box .box-text p {
  line-height: 2;
  font-size: 18px;
}
.skills .testimo .box .box-text span {
  color: var(--p-color);
  display: block;
  text-align: right;
  margin-bottom: 15px;
  color: var(--p-color);
}
.skills .testimo .dots {
  display: flex;
  justify-self: center;
  align-items: center;
}
.skills .testimo .dots ul {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.skills .testimo .dots ul li {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 1px solid var(--p-color);
  margin: 5px;
}
@media (max-width: 767px) {
  .skills .testimo .box {
    flex-direction: column;
  }
  .skills .testimo .box img {
    margin: 25px auto;
  }
  .skills .testimo .box .box-text p {
    text-align: left;
  }
  .skills .testimo .dots ul {
    margin: 40px auto;
  }
}
.skills .container .our-skills {
  display: flex;
  flex-wrap: wrap;
}
.skills .container .our-skills > div {
  width: 100%;
}
.skills .container .our-skills .adobe {
  padding-top: 20px;
}
.skills .container .our-skills .lang h3 {
  font-weight: normal;
  font-size: 18px;
  color: black;
}
.skills .container .our-skills .lang .bar {
  width: 100%;
  height: 30px;
  background: #eee;
  margin: 15px 0 40px 0;
}
.skills .container .our-skills .lang .bar span {
  background-color: var(--main-color);
  height: 100%;
  display: inline-block;
  position: relative;
}
.skills .container .our-skills > div .bar span::before {
  position: absolute;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 30px;
  border-radius: 15%;
  top: -45px;
  font-size: 18px;
  content: attr(data);
  left: calc(100% - 20px);
}
.skills .container .our-skills > div .bar span::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: black transparent transparent transparent;
  border-width: 8px;
  width: 0px;
  height: 0px;
  top: -16px;
  left: calc(100% - 8px);
}
/* end skills */
/* start quot */
.quot {
  background-image: url(../imgs/quote.jpg);
  background-size: cover;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
}
.quot::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 80%);
}
.quot .text {
  position: relative;
  z-index: 3;
  color: white;
  text-align: center;
}
.quot .text p {
  font-size: 30px;
  margin-bottom: 15px;
}
/* end quot */
/* start pricing */
.pricing {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.pricing .plans {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(21%, 1fr));
  text-align: center;
  gap: 25px;
}
@media (max-width: 970px) {
  .pricing .plans {
    grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
  }
}
@media (max-width: 767px) {
  .pricing .plans {
    grid-template-columns: repeat(auto-fill, minmax(95%, 1fr));
  }
}
.pricing .plans .plan {
  margin-bottom: 20px;
}
.pricing .plans .plan .plan-header {
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
  display: flex;
  flex-flow: column nowrap;
}
.pricing .plans .plan .plan-header h3 {
  font-weight: 500;
  font-size: 20px;
  margin: 20px 0 12px 0;
}
.pricing .plans .plan .plan-header span {
  margin: 0 0 20px 0;
  font-weight: bolder;
  font-size: 70px;
  position: relative;
}
.pricing .plans .plan .plan-header span::before {
  content: "$";
  position: absolute;
  color: black;
  font-weight: bold;
  font-size: 25px;
  top: 0;
  left: calc(50% - 60px);
}
.pricing .plans .plan .plan-header span::after {
  content: "/MO";
  position: absolute;
  color: black;
  font-weight: bold;
  font-size: 25px;
  bottom: 5px;
  right: calc(50% - 100px);
}
.pricing .plans .plan ul {
  border-bottom: 1px solid var(--main-color);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 50px 0;
}
.pricing .plans .plan ul li {
  display: block;
  width: 60%;
  border-bottom: 1px solid var(--main-color);
  font-size: 20px;
  padding: 20px 0;
}
.pricing .plans .plan ul li:last-child {
  border: none;
}
.pricing .plans .plan a {
  text-decoration: none;
  border-radius: 10%;
  border: 1px solid var(--main-color);
  padding: 20px;
  font-weight: bold;
  color: var(--main-color);
  margin-bottom: 50px;
}
.pricing .plans .plan a:hover {
  box-shadow: 0 0 3px 1px #19c8fa;
}
.pricing .container .speceal {
  width: 100%;
  margin-top: 70px;
  text-align: center;
  margin-left: 50%;
  transform: translatex(-50%);
}
.pricing .container .speceal p {
  width: 100%;
  font-size: 19px;
  margin-bottom: 25px;
}
.pricing .container .speceal a {
  display: block;
  text-decoration: none;
  color: white;
  background-color: var(--main-color);
  padding: 15px;
  font-weight: bold;
  width: 150px;
  margin-left: 50%;
  border-radius: 5%;
  transform: translateX(-50%);
}
/* end pricing */
/* start subscribe */
.subscribe {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../imgs/subscribe.jpg);
  background-size: cover;
  position: relative;
}
.subscribe::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}
.subscribe .container {
  position: relative;
  z-index: 2;
  display: flex;
  text-align: left;
  align-items: center;
}
@media (max-width: 992px) {
  .subscribe .container {
    flex-direction: column;
  }
}
.subscribe .container form {
  width: 500px;
  max-width: 100%;
  display: flex;
  outline: none;
  border: none;
  position: relative;
}
.subscribe .container form span {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}
.subscribe .container form input[type="email"] {
  width: calc(100% - 130px);
  outline: none;
  background: none;
  color: white;
  padding: 15px 15px 15px 60px;
  border: 1px solid white;
  border-right: none;
  caret-color: var(--main-color);
}
.subscribe .container form input[type="submit"] {
  width: 130px;
  outline: none;
  background-color: var(--main-color);
  color: white;
  border: 1px solid white;
  border-left: none;
}
.subscribe .container p {
  color: white;
  line-height: 1.8;
  margin-left: 40px;
}
@media (max-width: 992px) {
  .subscribe .container p {
    margin: 20px 0 0 0;
    font-size: 12px;
  }
}
/* end subscribe */
/* start contact */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.contact .container .conten {
  display: flex;
  justify-content: space-between;
}
.contact .container .conten form {
  display: flex;
  flex-flow: column;
  width: 70%;
  position: relative;
}
.contact .container .conten form .input {
  margin-bottom: 30px;
  padding: 15px;
  width: 100%;
  outline: none;
  border: none;
  border: 1px solid #e1d1d1;
}
.contact .container .conten form input[type="submit"] {
  width: 170px;
  height: 60px;
  position: absolute;
  right: 0;
  bottom: -50px;
  background-color: var(--main-color);
  color: white;
  outline: none;
  border: none;
  padding: auto;
}
.contact .container .conten .info {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact .container .conten .info > div h3 {
  font-weight: normal;
  margin-bottom: 15px;
}
.contact .container .conten .info > div p {
  color: var(--p-color);
  margin-bottom: 15px;
  line-height: 2;
}
@media (max-width: 767px) {
  .contact .container .conten {
    flex-direction: column;
  }
  .contact .container .conten form {
    width: 100%;
  }
  .contact .container .conten .info {
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
    order: -1;
  }
}
/* end contact */
/* start footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url(../imgs/subscribe.jpg);
  background-size: cover;
  text-align: center;
  position: relative;
  color: white;
}
.footer::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
}
.footer .container {
  position: relative;
  z-index: 3;
}
.footer img {
  margin-bottom: 40px;
}
.footer p:not(:last-child) {
  margin-bottom: 40px;
  font-size: 20px;
  position: relative;
}
.footer p:not(:last-child)::after {
  content: "";
  position: absolute;
  background-color: white;
  height: 1px;
  width: 200px;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
.footer ul {
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer ul li {
  margin: 0 12px 0 12px;
}
.footer ul li a {
  color: white;
  text-decoration: none;
}
.footer p:last-child .kasper {
  color: var(--main-color);
}
/* end footer */
